<article>
<p>Sudoku is a logic-based, number-placement puzzle. </p>
<p>The objective is to fill in the 9×9 grid with digits so that each column, each row, and each of the nine 3×3 boxes contains all of the digits from 1 to 9.</p>
<p>You can see how you're progressing by clicking the 'Check Progress' button. Incorrect guesses will be highlighted in red.</p>
<p>Save your game at any point with the 'Save Game' button and come back to finish it whenever you want to. </p>
<p>Click <a href="/">here</a> to start playing!</p>
</article>
