body {
      background: url(/images/background.jpg) no-repeat center center fixed; 
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

h1 {
  color: #FFFAF0;
  font-size: 30px;
  font-weight: bolder;
}

div.box, div.cell {
  display: inline-block;
}

div.box {
  outline: 3px solid #800080;
}

.cell input {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 20px;
}

#sudoku {
  font-size: 0;
  text-align: center;
}

body {
  text-align: center;
  font-family: Cambria;
}


.incorrect {
  background-color: #FA8072;
}

.value-provided {
  background-color: #D8BFD8;
}

#flash {
  margin: 20px;
  color: black;
}